modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_stripe:1.0.0"]

[userenv]

[userenv.shared]
EMAIL_CRON_ENABLED = "true"
ANDROID_SHA256_FINGERPRINT = "23:E0:BB:39:A3:CB:B2:BA:A0:A1:2B:D8:87:2C:35:E5:E7:81:3F:54:53:99:E7:AB:6C:16:44:32:48:A9:4C:D5"
VITE_FEATURE_MARKETPLACE_ENABLED = "false"
VITE_EBAY_MKRID = "711-53200-19255-0"
VITE_EBAY_SITEID = "0"
VITE_EBAY_CAMPID = "5339142318"
VITE_EBAY_TOOLID = "10001"
VITE_EBAY_MKEVT = "1"
VITE_EBAY_MKCID = "1"
VITE_EBAY_CUSTOMID_PREFIX = "MCV"

[userenv.production]
MARKETPLACE_PUBLIC_URL = "https://app.marvelcardvault.com"
